/*Estilos para el menu de navegación*/

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black; /*Color de fondo del div*/
    padding: 10px;
}

/*Etiqueta del logo*/
.logo a{
color: rgb(73, 15, 128);
text-decoration: none;
font-size: 24px;
}

.logo-img {
    width: 100px; /* Ajusta este valor según el tamaño deseado */
    height: auto; /* Mantiene la proporción de la imagen */
}

.navlinks {
    list-style: none;
    display: flex;
    gap: 15px;
}

.navlinks li a{
    color: rgb(247, 247, 243);
    text-decoration: none;
    padding: 8px 15px;

}

.dropdown{
    position: relative;
}

.dropdown-content a{
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(138, 211, 89); /* Fondo del contenido del menú desplegable */
    min-width: 160px; /* Ancho mínimo del menú desplegable */
    box-shadow: 0px 8px 16px 0px rgba(223, 15, 15, 0.2); /* Sombra para el menú desplegable */
    z-index: 1; /* Asegura que el menú esté por encima de otros elementos */
}

/*Muestra el contenido al pasar el dropdown al pasar el cursor por el contenido*/
.dropdown:hover .dropdown-content {
    display: block;
}

.navlinks li a:hover {
    background-color: brown; 
    border-radius: 4px;
}

/* Estilos para el formulario de búsqueda */
.search-form {
    display: flex;
    align-items: center;
}

.search-form input[type="text"] {
    padding: 5px;
    border: none;
    border-radius: 4px 0 0 4px;
    outline: none;
}

.search-form button {
    padding: 5px 10px;
    border: none;
    border-radius: 0 4px 4px 0;
    background-color: rgb(73, 15, 128);
    color: white;
    cursor: pointer;
}

.search-form button:hover {
    background-color: rgb(50, 10, 100);
}